<% include top %>
<h3><%= note ? title : "" %></h3>
<p><%= note ? note : "" %></p>
<p>Key: <%= notekey %></p>
<% if (notekey) { %>
    <hr/>
    <p>
        <a href="notedestroy?id=<%= id %>">Delete<a/>
        <a href="noteedit?id=<%= id %>">Edit</a>
    </p>
<% } %>
<% include bottom %>